export const nodeEnv = "dev";

export const httpPort = 3000;

export const logDirectory = "log/";

export const dbConfig = {
    host: "127.0.0.1",
    port: 5432,
    username: "postgres",
    password: "postgres",
    database: "wemo",
};
